@import "../../../../../styles/_variables.scss";

.venue-location {
  h3 {
    color: map-get($theme-colors, "dark");
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: map-get($theme-colors, "dark");
  }
}
