@import "../../../styles/_variables.scss";

.manage-venues {
  h1 {
    color: map-get($theme-colors, "dark");
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    color: map-get($theme-colors, "dark");
    font-size: 1.1rem;
  }

  .btn {
    margin-top: 1rem;
  }
}
