@import "../../../styles/_variables.scss";

.venue-details {
  .venue-name {
    color: map-get($theme-colors, "dark");
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .col-md-6 {
      flex: 1;
      min-width: 300px;
    }

    .btn {
      margin-top: 2rem;
    }
  }
}
