@import "../../../styles/variables";

.venue-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: map-get($theme-colors, "light");
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($theme-colors, "light");
    padding: 0.5rem 1.5rem 0 1.5rem;
    margin-bottom: 0.5rem;

    .card-title {
      font-size: 1.25rem; /* Same as h5 */
      color: map-get($theme-colors, "dark");
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .price {
      font-size: 1.25rem;
      color: map-get($theme-colors, "dark");
      font-weight: bold;
      margin: 0;
    }
  }

  .card-img-top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card-img-top {
    max-width: 92%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }

  .card-body {
    padding: 1.5rem;

    .description {
      margin-bottom: 1rem;
      h3 {
        font-size: 1rem; /* Same as h6 */
        color: map-get($theme-colors, "dark");
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1rem;
        color: map-get($theme-colors, "dark");
      }
    }

    .details-and-amenities {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1rem;

        .guests,
        .rating {
          font-size: 1rem;
          color: map-get($theme-colors, "dark");
          margin-right: 1rem;
        }
      }

      .amenities {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 0;

        .amenity {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 10px;

          .amenity-icon {
            font-size: 1.5rem;
            color: map-get($theme-colors, "primary");
          }

          .check-icon,
          .close-icon {
            position: absolute;
            top: -5px;
            right: -10px;
            font-size: 1rem;
          }

          .check-icon {
            color: green;
          }

          .close-icon {
            color: red;
          }
        }
      }
    }
  }
}
